body {
  margin: 0;
  padding: 0;
  background-color: #aaa;
}
.container {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  margin-top: 60px;
  background-color: #ccc;
  border-radius: 5px;
}
select {
  border: none;
  padding: 5px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 5px;
}


select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

option:hover {
  background-color: #ccc;
}
#countries-list {
}
